/**
 * MAIN STYLES
 */

// NORMALIZE

@import ../../bower_components/normalize-scss/normalize.scss

// GENERAL STYLES

html,
body
  height: 100%

body
  font-size: 16px
  font-family: arial
  line-height: 1.5em

h1, h2, h3, h4, h5, h6
  text-transform: uppercase

p
  margin-bottom: 1em

a
  color: $black
  &:hover
    color: $white

img
  max-width: 100%
