/**
 * GRID STRUCTURE
 */

// IMPORT SUSY HERE

// CONTENT
.page_wrapper
  margin: 0 auto

// CONTENT 100%
.full_page_grid
  .page_wrapper
    > .content
      width: 100%

// ONE COLUMN LEFT
.column_left_grid
  .page_wrapper
    > .content
      width: 100%
      transition: all .4s ease-in-out
      +breakpoint($tablet)
        width: 70%
        float: right
        transition: all .4s ease-in-out
    > .aside
      width: 100%
      transition: all .4s ease-in-out
      +breakpoint($tablet)
        width: 25%
        float: left
        margin-right: 5%
        transition: all .4s ease-in-out

// ONE COLUMN RIGHT
.column_right_grid
  .page_wrapper
    > .content
    > .aside

// TWO COLUMN
.two_columns_grid
  .page_wrapper
    > .content
    > .aside_left
    > .aside_right
