/**
 * GRID STRUCTURE
 */

// SUSY DEFINITION HERE

// CONTENT
.page_wrapper
  margin: 0 auto

// CONTENT 100%
.full_page_grid
  .page_wrapper
    > .content
      width: 100%

// SIDEBAR GENERAL STYLE
.sidebar_left_grid,
.sidebar_right_grid
  .page_wrapper
    > .content
      +breakpoint($tablet)
        width: 70%
    > .sidebar
      +breakpoint($tablet)
        width: 25%

// ONE SIDEBAR LEFT
.sidebar_left_grid
  .page_wrapper
    > .content
      +breakpoint($tablet)
        float: right
    > .sidebar
      +breakpoint($tablet)
        float: left

// ONE SIDEBAR RIGHT
.sidebar_right_grid
  .page_wrapper
    > .content
      +breakpoint($tablet)
        float: left
    > .sidebar
      +breakpoint($tablet)
        float: left

// TWO COLUMN
.two_columns_grid
  .page_wrapper
    > .content
    > .sidebar_left
    > .sidebar_right
