/**
 * VARIABLES
 */

// FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,800)

$font-base: 'Open Sans', sans-serif
// $font-titles:

// COLOURS

// Gray scale
$white          : #ffffff
$gray-lightest  : #f2f2f2
$gray-light     : #d1d1d1
$gray           : #afafaf
$black          : #3a3a3a

// Brand scale
$turquoise      : #2AD2C9
$dark-turquoise : #04938a

// BREAKPOINTS - https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
$tablet : min-width 768px
$desk   : min-width 1024px
